<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<h1>Distribution Centers and Items</h1>
<table>
    <thead>
    <tr>
        <th>Distribution Center</th>
        <th>ID</th>
        <th>Name</th>
        <th>Year</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="distCenter : ${distCenters}">
        <th:block th:each="item, iterStat : ${distCenter.items}">
            <tr>
                <td th:if="${iterStat.first}" th:rowspan="${#lists.size(distCenter.items)}" th:text="${distCenter.name}"></td>
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.year}"></td>
                <td th:text="${item.price}"></td>
            </tr>
        </th:block>
    </th:block>
    </tbody>
</table>
<a th:href="@{/add}">Add item</a>
</br>
<a th:href="@{/logout}">Logout</a>
</br>
    <form class="mt-3" method="post" th:object="${itemDTO}">
            <label for="itemName">Enter name:</label>
        <input
                type="text"
                id="itemName"
                th:field="*{name}"/>
        <button class="btn btn-primary mt-5">
            Search Brand
        </button>
    </form>
</body>
</html>
