<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<h1>Items</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Year</th>
        <th>Price</th>
        <th>Brand</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.year1}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.brandFrom}"></td>
        <td th:text="${item.quantity}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/logout}">Logout</a>
</body>
</html>

